body {
  background-color: #173042;
  font-family: 'Josefin Sans', sans-serif;
}
p,label,input[type=submit] {
  font-weight: bold;	
}
img {
  display: inline;
  float: right;
  width: 50px;
  height: 50px;  
}
#horizontal_break {
  background-color: #cfdfda;
  height: 5px;
  width: 85%;
  border-radius: 20px;
  padding: 5px;
}
div {
  padding: 15px; 
  color: #cfdfda;
}
label {
  margin: 5px;
  display: block;
  margin-top: 25px;
}
#check {
  display: inline-block;
}
input {
  border-radius: 20px;
  border-color: #cfdfda;
  background-color: #cfdfda;
  padding: 10px 20px;
  margin-top: 10px;
}
input[type=text],input[type=email] {
  width: 85%;	
}
input[type=submit]{
  border-color: #7cad3e;
  color: #173042;
  background-color: #7cad3e;
  display: block;
}
/*CSS for color switch*/
.color_switch {
  background-color: #35331a;
  /* color: #c8df59; Wasn't working...*/
}
/* CSS for screens above 1050px width Only */
@media only screen and (min-width: 1050px) { 
  body,p,hr,div,label,input {
	text-align: center;
	display: block;
    margin-left: auto;
	margin-right: auto;
  }
  input[type=text],input[type=email] {
    width: 45%;	
  }
  div {
    width: 60%;
    background-color: #236477;	
	border-radius: 20px;
  }
}
/* CSS font size increase for screens above 750px width Only */
@media only screen and (min-width: 750px) {
  body,p,hr,div,label,input {
    font-size: 125%;
  }
  input[type=text],input[type=email] {
    width: 95%;	
  }
}	